doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1.title Welcome to Navaneetha Homeo Hospital
    ul.navigation
      li
        a(href='/') Home
      
    block content
